@use '@/styles/mantine' as *;

.wrapper {
  position: relative;
  background-image: url('@/assets/business-in-numbers.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include larger-than($mantine-breakpoint-sm) {
    background-attachment: fixed;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}
