@use '@/styles/mantine' as *;

.title {
  margin-bottom: 24px;

  @include smaller-than($mantine-breakpoint-sm) {
    text-align: center;
  }

  @include larger-than($mantine-breakpoint-sm) {
    text-align: left;
  }
}
