@use '@/styles/mantine' as *;

.wrapper {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  @include larger-than($mantine-breakpoint-sm) {
    background-attachment: fixed;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
