@use '@/styles/mantine' as *;

.sectionTitle {
  font-size: 14px;
  margin-bottom: 12px;
}

.logoCol {
  @include smaller-than($mantine-breakpoint-sm) {
    display: flex;
    justify-content: center;
  }
}

.contentCol {
  @include smaller-than($mantine-breakpoint-sm) {
    text-align: center;
  }
}

.socialMediaContainer {
  @include smaller-than($mantine-breakpoint-sm) {
    justify-content: center;
  }
}
